<a href="https://colab.research.google.com/github/dlopezuj/TFM_getrificacion_BCN/blob/main/PEC3_migracion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Procesado de datos referentes a tasa de inmigración

## 1. Lectura de datos referentes a la tasa de inmigración entre los años 2019 y 2015

In [1]:
# import de las liberías
import pandas as pd 
import numpy as np

In [2]:
# disable chained assignments
pd.options.mode.chained_assignment = None

In [3]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [27]:
# se realiza la lectura de los diversos archivos csv y se guardan en cinco datasets (uno para cada año)
df_migracion_2019=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/migracion/2019_taxa_immigracio.csv')
df_migracion_2018=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/migracion/2018_taxa_immigracio.csv')
df_migracion_2017=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/migracion/2017_taxa_immigracio.csv')
df_migracion_2016=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/migracion/2016_taxa_immigracio.csv')
df_migracion_2015=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/migracion/2015_taxa_immigracio.csv')

## 2. Exploración de los datos

In [6]:
df_migracion_2019

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Taxa_mil_hab,Nombre
0,2019,1,Ciutat Vella,1,el Raval,Taxa per mil habitants,125.9
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Taxa per mil habitants,253.6
2,2019,1,Ciutat Vella,3,la Barceloneta,Taxa per mil habitants,130.4
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Taxa per mil habitants,132.8
4,2019,2,Eixample,5,el Fort Pienc,Taxa per mil habitants,95.1
...,...,...,...,...,...,...,...
68,2019,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Taxa per mil habitants,52.9
69,2019,10,Sant Martí,70,el Besòs i el Maresme,Taxa per mil habitants,110.5
70,2019,10,Sant Martí,71,Provençals del Poblenou,Taxa per mil habitants,51.9
71,2019,10,Sant Martí,72,Sant Martí de Provençals,Taxa per mil habitants,45.7
72,2019,10,Sant Martí,73,la Verneda i la Pau,Taxa per mil habitants,43.3

In [7]:
df_migracion_2018

,Any,Codi_districte,Nom_districte,Codi_barri,Nom_barri,Taxa_mil_hab,Nombre
0,2018,1,Ciutat Vella,1,el Raval,Taxa per mil habitants,121.389623
1,2018,1,Ciutat Vella,2,el Barri Gòtic,Taxa per mil habitants,206.323591
2,2018,1,Ciutat Vella,3,la Barceloneta,Taxa per mil habitants,114.051157
3,2018,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Taxa per mil habitants,127.063150
4,2018,2,Eixample,5,el Fort Pienc,Taxa per mil habitants,75.465196
...,...,...,...,...,...,...,...
68,2018,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Taxa per mil habitants,46.338588
69,2018,10,Sant Martí,70,el Besòs i el Maresme,Taxa per mil habitants,95.242134
70,2018,10,Sant Martí,71,Provençals del Poblenou,Taxa per mil habitants,49.138015
71,2018,10,Sant Martí,72,Sant Martí de Provençals,Taxa per mil habitants,41.668268
72,2018,10,Sant Martí,73,la Verneda i la Pau,Taxa per mil habitants,39.963827

In [8]:
df_migracion_2017

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Taxa_mil_hab
0,2017,1,Ciutat Vella,1,el Raval,113.4
1,2017,1,Ciutat Vella,2,el Barri Gòtic,167.2
2,2017,1,Ciutat Vella,3,la Barceloneta,117.2
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",121.6
4,2017,2,Eixample,5,el Fort Pienc,69.8
...,...,...,...,...,...,...
68,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,57.2
69,2017,10,Sant Martí,70,el Besòs i el Maresme,87.6
70,2017,10,Sant Martí,71,Provençals del Poblenou,47.5
71,2017,10,Sant Martí,72,Sant Martí de Provençals,41.0
72,2017,10,Sant Martí,73,la Verneda i la Pau,43.2

In [9]:
df_migracion_2016

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Taxa_mil_hab
0,2016,1,Ciutat Vella,1,el Raval,105.5
1,2016,1,Ciutat Vella,2,el Barri Gòtic,140.7
2,2016,1,Ciutat Vella,3,la Barceloneta,103.0
3,2016,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",106.5
4,2016,2,Eixample,5,el Fort Pienc,62.9
...,...,...,...,...,...,...
68,2016,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,49.9
69,2016,10,Sant Martí,70,el Besòs i el Maresme,69.2
70,2016,10,Sant Martí,71,Provençals del Poblenou,39.5
71,2016,10,Sant Martí,72,Sant Martí de Provençals,39.8
72,2016,10,Sant Martí,73,la Verneda i la Pau,35.1

In [10]:
df_migracion_2015

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Taxa_mil_hab
0,2015,1,Ciutat Vella,1,el Raval,113.2
1,2015,1,Ciutat Vella,2,el Barri Gòtic,142.2
2,2015,1,Ciutat Vella,3,la Barceloneta,103.3
3,2015,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",113.6
4,2015,2,Eixample,5,el Fort Pienc,63.5
...,...,...,...,...,...,...
68,2015,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,50.3
69,2015,10,Sant Martí,70,el Besòs i el Maresme,68.8
70,2015,10,Sant Martí,71,Provençals del Poblenou,46.6
71,2015,10,Sant Martí,72,Sant Martí de Provençals,36.9
72,2015,10,Sant Martí,73,la Verneda i la Pau,38.0

## 3. Transformación de los datos

In [12]:
# elimino las columnas no necesarias
df_migracion_2019_drop = df_migracion_2019.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Taxa_mil_hab'], axis=1)
df_migracion_2018_drop = df_migracion_2018.drop(['Codi_districte', 'Nom_districte', 'Nom_barri', 'Taxa_mil_hab'], axis=1)
df_migracion_2017_drop = df_migracion_2017.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri'], axis=1)
df_migracion_2016_drop = df_migracion_2016.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri'], axis=1)
df_migracion_2015_drop = df_migracion_2015.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri'], axis=1)

In [13]:
# visualizamos los resultados obtenidos
df_migracion_2015_drop

     Any  Codi_Barri  Taxa_mil_hab
0   2015           1         113.2
1   2015           2         142.2
2   2015           3         103.3
3   2015           4         113.6
4   2015           5          63.5
..   ...         ...           ...
68  2015          69          50.3
69  2015          70          68.8
70  2015          71          46.6
71  2015          72          36.9
72  2015          73          38.0

[73 rows x 3 columns]

In [14]:
# renombro las columnas, ya que hay ligeras diferencias entre los archivos de los distintos años
df_migracion_2019_drop.columns = df_migracion_2019_drop.columns.str.replace('Nombre', 'Tasa_migracion_mil_hab')
df_migracion_2018_drop.columns = df_migracion_2018_drop.columns.str.replace('Nombre', 'Tasa_migracion_mil_hab')
df_migracion_2018_drop.columns = df_migracion_2018_drop.columns.str.replace('Codi_barri', 'Codi_Barri')
df_migracion_2017_drop.columns = df_migracion_2017_drop.columns.str.replace('Taxa_mil_hab', 'Tasa_migracion_mil_hab')
df_migracion_2016_drop.columns = df_migracion_2016_drop.columns.str.replace('Taxa_mil_hab', 'Tasa_migracion_mil_hab')
df_migracion_2015_drop.columns = df_migracion_2015_drop.columns.str.replace('Taxa_mil_hab', 'Tasa_migracion_mil_hab')

In [15]:
df_migracion_2018_drop

     Any  Codi_Barri  Tasa_migracion_mil_hab
0   2018           1              121.389623
1   2018           2              206.323591
2   2018           3              114.051157
3   2018           4              127.063150
4   2018           5               75.465196
..   ...         ...                     ...
68  2018          69               46.338588
69  2018          70               95.242134
70  2018          71               49.138015
71  2018          72               41.668268
72  2018          73               39.963827

[73 rows x 3 columns]

In [16]:
# revisamos si tenermos valores null en los datos

In [17]:
df_migracion_2019_drop.isnull().any()

Any                       False
Codi_Barri                False
Tasa_migracion_mil_hab    False
dtype: bool

In [18]:
df_migracion_2018_drop.isnull().any()

Any                       False
Codi_Barri                False
Tasa_migracion_mil_hab    False
dtype: bool

In [19]:
df_migracion_2017_drop.isnull().any()

Any                       False
Codi_Barri                False
Tasa_migracion_mil_hab    False
dtype: bool

In [20]:
df_migracion_2016_drop.isnull().any()

Any                       False
Codi_Barri                False
Tasa_migracion_mil_hab    False
dtype: bool

In [21]:
df_migracion_2015_drop.isnull().any()

Any                       False
Codi_Barri                False
Tasa_migracion_mil_hab    False
dtype: bool

## 4. Concatenación de los dataframes

In [22]:
union_migracion = pd.concat([df_migracion_2019_drop, df_migracion_2018_drop, df_migracion_2017_drop, \
                             df_migracion_2016_drop, df_migracion_2015_drop], ignore_index=True)

In [23]:
union_migracion

      Any  Codi_Barri  Tasa_migracion_mil_hab
0    2019           1                   125.9
1    2019           2                   253.6
2    2019           3                   130.4
3    2019           4                   132.8
4    2019           5                    95.1
..    ...         ...                     ...
360  2015          69                    50.3
361  2015          70                    68.8
362  2015          71                    46.6
363  2015          72                    36.9
364  2015          73                    38.0

[365 rows x 3 columns]

In [24]:
# revisión de valores null
union_migracion.isnull().sum()

Any                       0
Codi_Barri                0
Tasa_migracion_mil_hab    0
dtype: int64

In [25]:
# la tasa en 2018, tienen una gran cantidad de decimales, para ser consistente con el resto de columnas, dejo únicamente un decimal
union_migracion['Tasa_migracion_mil_hab'] = union_migracion['Tasa_migracion_mil_hab'].round(decimals = 1)

In [26]:
union_migracion

      Any  Codi_Barri  Tasa_migracion_mil_hab
0    2019           1                   125.9
1    2019           2                   253.6
2    2019           3                   130.4
3    2019           4                   132.8
4    2019           5                    95.1
..    ...         ...                     ...
360  2015          69                    50.3
361  2015          70                    68.8
362  2015          71                    46.6
363  2015          72                    36.9
364  2015          73                    38.0

[365 rows x 3 columns]

## 5. Escritura de datos

In [ ]:
union_migracion.to_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/output_evolucion_demografica/union_migracion.csv', index = False)