<a href="https://colab.research.google.com/github/dlopezuj/TFM_getrificacion_BCN/blob/main/PEC3_densidad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Procesado de datos refrentes a las densidad de población

## 1.1 Lectura de Datos de densidad de población de 2019 a 2015

link a la fuente de datos: 
https://opendata-ajuntament.barcelona.cat/data/en/dataset/est-densitat

In [2]:
# import de liberias
import pandas as pd

In [3]:
# Lectura de datos de Incidentes
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
# se realiza la lectura de los diversos archivos csv y se guardan en cinco datasets (uno para cada año)
df_densidad_2019=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/densidad poblacion/2019_densitat.csv')
df_densidad_2018=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/densidad poblacion/2018_densitat.csv')
df_densidad_2017=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/densidad poblacion/2017_densitat.csv')
df_densidad_2016=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/densidad poblacion/2016_densitat.csv')
df_densidad_2015=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/datasets/densidad poblacion/2015_densitat.csv')

## 1.2 Exploracion de los datos

In [6]:
df_densidad_2019.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Població,Superfície (ha),Superfície Residencial (ha),Densitat (hab/ha),Densitat neta (hab/ha)
0,2019,1,Ciutat Vella,1,el Raval,47353,110.0,49.6,430,955
1,2019,1,Ciutat Vella,2,el Barri Gòtic,18629,81.6,34.1,228,546
2,2019,1,Ciutat Vella,3,la Barceloneta,14857,109.5,13.5,136,1097
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22590,111.0,32.4,204,697
4,2019,2,Eixample,5,el Fort Pienc,32349,92.9,33.6,348,962

In [7]:
df_densidad_2018.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Població,Superfície (ha),Superfície Residencial (ha),Densitat (hab/ha),Densitat neta (hab/ha)
0,2018,1,Ciutat Vella,1,el Raval,46948,110.0,49.6,427,946
1,2018,1,Ciutat Vella,2,el Barri Gòtic,16731,81.6,34.0,205,492
2,2018,1,Ciutat Vella,3,la Barceloneta,14739,108.5,13.5,136,1088
3,2018,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22296,111.0,32.5,201,686
4,2018,2,Eixample,5,el Fort Pienc,31922,92.9,33.5,343,953

In [8]:
df_densidad_2017.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Població,Superfície (ha),Superfície Residencial (ha),Densitat (hab/ha),Densitat neta (hab/ha)
0,2017,1,Ciutat Vella,1,el Raval,47608,109.8,49.7,433,959
1,2017,1,Ciutat Vella,2,el Barri Gòtic,16062,84.2,34.1,191,471
2,2017,1,Ciutat Vella,3,la Barceloneta,14996,131.4,13.5,114,1107
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22721,111.4,32.5,204,700
4,2017,2,Eixample,5,el Fort Pienc,32016,92.9,33.4,345,959

In [5]:
df_densidad_2016.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Població,Superfície (ha),Densitat (hab/ha),Densitat neta (hab/ha)
0,2016,1,Ciutat Vella,1,el Raval,47129,109.8,429,948
1,2016,1,Ciutat Vella,2,el Barri Gòtic,15614,84.2,185,457
2,2016,1,Ciutat Vella,3,la Barceloneta,15021,131.4,114,1113
3,2016,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22306,111.4,200,689
4,2016,2,Eixample,5,el Fort Pienc,31653,92.9,341,948

In [9]:
df_densidad_2015.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Població,Superfície (ha),Densitat (hab/ha),Densitat neta (hab/ha)
0,2015,1,Ciutat Vella,1,el Raval,47142,109.8,429,949
1,2015,1,Ciutat Vella,2,el Barri Gòtic,15484,84.2,184,454
2,2015,1,Ciutat Vella,3,la Barceloneta,15032,131.4,114,1149
3,2015,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22457,111.4,202,695
4,2015,2,Eixample,5,el Fort Pienc,31543,92.9,340,944

Vemos como los nombres de las columnas y el número de columnas son ligeramente distintos en varios conjuntos de datos, por lo que procedemos a eliminar las columnas que no nos hacen falta y a estandarizar el nombre de las columnas que nos interesan. Decidimos quedarnos con el valor referente a la Densitat neta (hab/ha)

In [10]:
# se eliminan las columnas no relevantes
df_densidad_drop_2019 = df_densidad_2019.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Població', 'Superfície (ha)','Superfície Residencial (ha)', 'Densitat (hab/ha)'], axis=1)
df_densidad_drop_2018 = df_densidad_2018.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Població', 'Superfície (ha)','Superfície Residencial (ha)', 'Densitat (hab/ha)'], axis=1)
df_densidad_drop_2017 = df_densidad_2017.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Població', 'Superfície (ha)','Superfície Residencial (ha)', 'Densitat (hab/ha)'], axis=1)
df_densidad_drop_2016 = df_densidad_2016.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Població', 'Superfície (ha)', 'Densitat (hab/ha)'], axis=1)
df_densidad_drop_2015 = df_densidad_2015.drop(['Codi_Districte', 'Nom_Districte', 'Nom_Barri', 'Població', 'Superfície (ha)', 'Densitat (hab/ha)'], axis=1)

In [ ]:
# revisamos que los datos tienen el formato deseado
df_densidad_drop_2015

     Any  Codi_Barri  Densitat neta (hab/ha)
0   2015           1                     949
1   2015           2                     454
2   2015           3                    1149
3   2015           4                     695
4   2015           5                     944
..   ...         ...                     ...
68  2015          69                     581
69  2015          70                     891
70  2015          71                    1496
71  2015          72                    1147
72  2015          73                     717

[73 rows x 3 columns]

# 2. Concatenación de los dataframes

In [11]:
# relizamos la concatenación de los datasets en un unico dataset
union_densidad = pd.concat([df_densidad_drop_2019, df_densidad_drop_2018, df_densidad_drop_2017, \
                             df_densidad_drop_2016, df_densidad_drop_2015], ignore_index=True)

In [12]:
# Se revisa si hay valores null en el conjunto de datos final
union_densidad.isnull().any()

Any                       False
Codi_Barri                False
Densitat neta (hab/ha)    False
dtype: bool

In [13]:
# renombro la columna 
union_densidad.columns = union_densidad.columns.str.replace('Densitat neta (hab/ha)', 'Densidad neta (hab/ha)')

<ipython-input-13-4ed76f38fcc4>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  union_densidad.columns = union_densidad.columns.str.replace('Densitat neta (hab/ha)', 'Densidad neta (hab/ha)')

In [14]:
union_densidad

      Any  Codi_Barri  Densitat neta (hab/ha)
0    2019           1                     955
1    2019           2                     546
2    2019           3                    1097
3    2019           4                     697
4    2019           5                     962
..    ...         ...                     ...
360  2015          69                     581
361  2015          70                     891
362  2015          71                    1496
363  2015          72                    1147
364  2015          73                     717

[365 rows x 3 columns]

# 3. Escritura de los datos en un nuevo csv

In [ ]:
union_densidad.to_csv('/content/gdrive/MyDrive/Colab Notebooks/Evolucion_demografica/output_evolucion_demografica/union_densidad.csv', index = False)